<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title REGISTER</title>
</head>
<body>
    <form action="" method="post">
        <p>
            <label for="fullname">Полное имя</label>
            <input type="text" name="fullname">
        </p>
        <p>
            <label for="login">Логин</label>
            <input type="text" name="login">
        </p>
        <p>
            <label for="password">Пароль</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Отправить">
        </p>
    </form>

    <form action="/">
    <p>
        <input type="submit" value="Вернуться назад">
    </p>
    </form>


</body>
</html>